@model MVC_BusTicket.ViewModels.ChooseTicketTypeViewModel
@{
    ViewData["Title"] = "Choose Ticket Type";
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold mb-4">CHOOSE TICKET TYPE</h1>
    
    <div>
        @using (Html.BeginForm("ChooseTicketType", "Client", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group mb-3">
                @Html.DropDownListFor(
                    m => m.EnumTicketType,
                    new SelectList(Enum.GetValues(typeof(MVC_BusTicket.Emuns.EnumTicketType))),
                    "Select Ticket Type", 
                    new { @class = "form-select" })
                
                @Html.ValidationMessageFor(m => m.EnumTicketType, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Continue</button>
        }
    </div>
</div>
