@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold mb-4">BUS TICKET - APP</h1>
    <div>
        <a asp-controller="Client" asp-action="ChooseTicketType" class="btn btn-primary">
            CHOOSE TICKET TYPE
        </a>
    </div>
</div>